@tailwind base;
@tailwind components;
@tailwind utilities;

.dot-mask {
  background-image: radial-gradient(#5267a4 2px, transparent 0.5px);
  background-color: #21285c;
  background-size: 60px 60px; 
}
